apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}-lb
  namespace: {{ .Namespace }}
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "{{ .HostName }}.{{ .Domain }}"
    service.beta.kubernetes.io/aws-load-balancer-type: "external"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
spec:
  ports:
  {{- range .Ports }}
    - name: {{ .PortName }}
      port: {{ .Port }}
      targetPort: {{ .Port }}
      protocol: TCP
  {{- end }}
  type: LoadBalancer
  selector:
    kurtosistech.com/id: {{ .ServiceName }}
